# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# SQLite / local database
*.db
*.sqlite
*.sqlite3

# Python build files
build/
dist/
*.egg-info/

# Frontend dependencies
frontend/node_modules/

# Frontend build output
frontend/dist/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Local virtual documents
.virtual_documents/
# Raw CIC-IDS2017 datasets
data/raw/ids/
